.addition {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.addition__header {
    display: flex;
    gap: 12px;
    padding-bottom: 16px;
}

.addition__value {
    display: grid;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 16px;
}



.addition__list {
    display: grid;
    gap: 12px;
}

.addition__list-item {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
    font-size: 16px;
    display: flex;
    gap: 12px;
}