.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__head {
    display: flex;
}
.contact__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.contact__text {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin-left: 32px;
}

.contact__sub-block {
    display: flex;
    gap: 16px;
}

.contact__sub-value {
    display: flex;
    gap: 16px;
    align-items: center;

    
}

.contact__sub-value:not(:last-child)::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background-color: #000;
}